<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592151953999-oh89iusan43jjqj0hhkv7cdbgltqv4mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592151953999-oh89iusan43jjqj0hhkv7cdbgltqv4mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBD9BoFAoQQA--yygw64PqVO9ux2iuG7vk</string>
	<key>GCM_SENDER_ID</key>
	<string>592151953999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RobynChau.Dating-App</string>
	<key>PROJECT_ID</key>
	<string>datingwithswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>datingwithswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592151953999:ios:3c2cdeaf3f67ef12f8603a</string>
</dict>
</plist>